* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}


/* :root {
    --
} */

body {
    background-color: hsl(47, 88%, 63%);
    font-family: "Figtree", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    min-height: 100vh;
    font-size: 16px;
    padding: 20px;
}

.blog-card-container {
    max-width: 400px;
    min-width: 280px;
    background-color: hsl(0, 0%, 100%);
    max-height: 550px;
    min-height: 460px;
    border: 1px solid #000;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    gap: 20px;
    flex-direction: column;
    justify-content: center;
    box-shadow: 10px 10px black;
}

.blog-card-container .image-container {
    max-width: 360px;
    height: auto;
}   

.blog-card-container .image-container img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}  

.blog-card-container button {
    width: 75px;
    height: 30px;
    background-color: hsl(47, 88%, 63%);
    border: none;
    border-radius: 5px;
    font-weight: bold;
}

.blog-card-container p.publish-date {
    color: hsl(0, 0%, 7%);
    font-size: 0.9rem;
}

.blog-card-container .content {
    color: hsl(0, 0%, 42%);
    text-align: left;
    line-height: 1.4rem;
}

.blog-card-container .author {
    display: flex;
    gap: 5px;
    justify-content: flex-start;
    align-items: center;
    font-size: 0.8rem;
    font-weight: bold;
}

.blog-card-container .author img {
    height: 25px;
    width: 25px;
}

.blog-card-container h2:hover {
    color: hsl(47, 88%, 63%);
    cursor: pointer;    
}
